<div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table class="table table-hover  " id="table">
            <thead>
              <tr>
                <th>实例名</th>
                <th>状态</th>
                <th>实例id</th>
                <th>所属平台项目</th>
                <th>内存/CPU核心</th>
                <th>操作系统</th>
                <th>公网/内部ip</th>
                <th>备注</th>
                <th>实例创建时间</th>
                <!--<th>实例过期时间</th>-->
                <th>操作</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>