<div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table class="table table-hover  " id="table">
            <thead>
              <tr>
                <th>名称</th>
                <th>类型</th>
                <th>区域</th>
                <th>备注</th>
                <th>创建时间</th>
                <th>最后同步时间</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>