<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>代理主机名</th>
                            <th>UUID</th>
                            <th>代理ip</th>
                            <th>心跳检测</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
