<li><a class="app-menu__item  {{ if eq .menu `Dashboard` }}active{{end}}" href="javascript:void(0);"><i class="app-menu__icon fa fa-university"></i><span class="app-menu__label">Dashboard</span></a></li>

{{ if eq .user.Id 1 }}
<li class="treeview {{ if eq .expand `CloudManager` }}is-expanded{{ end }}"><a class="app-menu__item " href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-cloud"></i><span class="app-menu__label">云管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
            <li><a class="treeview-item {{ if eq .menu `CloudPlatformManager`}}active{{ end }}" href="{{ urlfor `CloudPlatformPageController.Index` }}"><i class="icon fa fa-cubes"></i> 云平台管理</a></li>
            <li><a class="treeview-item {{ if eq .menu `VirtualMachineManager`}}active{{ end }}" href="{{ urlfor `VirtualMachinePageController.Index` }}"><i class="icon fa fa-server"></i>虚拟主机管理</a></li>
    </ul>
</li>
{{ end }}

<li class="treeview {{ if eq .expand `SystemManager` }}is-expanded{{ end }}"><a class="app-menu__item " href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-cogs"></i><span class="app-menu__label">系统管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
            <li><a class="treeview-item {{ if eq .menu `UserManager`}}active{{ end }}" href="{{ urlfor `UserPageController.Index` }}"><i class="icon fa fa-user-circle"></i> 用户管理</a></li>
            <li><a class="treeview-item {{ if eq .menu `AlertManager` }}active{{ end }}" href="{{ urlfor `AlertQueryController.Index` }}"><i class="icon fa fa-bell"></i> 告警通知</a></li>
            <li><a class="treeview-item {{ if eq .menu `AgentManager` }}active{{ end }}" href="{{ urlfor `AgentPageController.Index` }}"><i class="icon fa fa-wrench"></i> prometheus配置</a></li>
    </ul>
</li>

<li class="treeview {{ if eq .expand `ReleaseManager` }}is-expanded{{ end }}"><a class="app-menu__item " href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-group"></i><span class="app-menu__label">发布管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
            <li><a class="treeview-item " href="javascript:void(0);"><i class="icon fa fa-bug"></i> 测试发布</a></li>
            <li><a class="treeview-item {{ if eq .menu `ProdRelease`}}active{{ end }}" href="{{ urlfor `GitLabPageController.Index` }}"><i class="icon fa fa-handshake-o"></i> 生产发布</a></li>
    </ul>
</li>

<li class="treeview {{ if eq .expand `KubernetesCluster` }}is-expanded{{ end }}"><a class="app-menu__item " href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-ship"></i><span class="app-menu__label">kubernetes集群</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
        <li><a class="treeview-item {{ if eq .menu `DeploymentConfig`}}active{{ end }}" href="{{ urlfor `K8sPageController.DeploymentIndex` }}"><i class="icon fa fa-tasks"></i>Deployment部署</a></li>
        <li><a class="treeview-item {{ if eq .menu `ServiceConfig`}}active{{ end }} " href="javascript:void(0);"><i class="icon fa fa-bus"></i>Service负载</a></li>    
    </ul>
</li>

