<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>告警名称</th>
                            <th>实例</th>
                            <th>告警级别</th>
                            <th>状态</th>
                            <th>唯一标识</th>
                            <th>描述</th>
                            <th>问题原因</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
