<script type="text/javascript">
  
    jQuery(document).ready(function(){
        var AlertPageTable = jQuery("#table").DataTable({
            serverSide: true,
            searching: true,
            ordering: true,
            ajax: {
                url: "{{ urlfor `AlertQueryController.List`}}",
                type: "GET",
                dataSrc: "results",
                data: function(data){
                   // console.log(data);
                    return{
                       draw: data.draw,
                       start: data.start,
                       length: data.length,
                       colName: data.columns[data.order[0]["column"]].name,
                       colSort: data.order[0]["dir"],
                       searchvalue: data.search["value"]
                    }
                    
                }
            },
            columns: [
                {
                    name: "alertname",
                    data: function(row){  
                        return htmlEncode(row["alertname"])
                }},
              
                    
                {
                    name:"instance",
                    data: function(row){
                        return htmlEncode(row["instance"])
                       
                    }
                },
                   
                {   
                    name: "serverity",
                    data: function(row){
                        return htmlEncode(row.serverity)
                    }
                },

                {   
                    name: "status",
                    data: function(row){
                        return htmlEncode(row.status)
                    }              
                },

                {   
                    name: "fingerprint",
                    data: function(row){
                        return htmlEncode(row.fingerprint)
                    }              
                },

                {   
                    name: "description",
                    data: function(row){
                        return htmlEncode(row.description)
                    },
                    orderable: false              
                },

                {   
                    name: "summary",
                    data: function(row){
                        return htmlEncode(row.summary)
                    },
                    orderable: false              
                },

                {   
                    name: "startsat",
                    data: function(row){
                        return htmlEncode(jQuery.format.date(row.startsat,"yyyy-MM-dd hh:mm:ss a"))
                    }              
                },


                {   
                    name: "endsat",
                    data: function(row){
                        return htmlEncode(jQuery.format.date(row.endsat,"yyyy-MM-dd hh:mm:ss a"))
                    }              
                },

                {
                    data: function(row){
                        return '<button class="btn btn-sm btn-danger btn-control-class" data-title="确认删除吗?" data-callback="reload_AlertPageTable" data-content="删除操作请慎重" data-cancel="已取消删除" data-url="{{ urlfor `AlertQueryController.Delete` }}" data-pk='+row.id+'>删除</button>'
                    },
                    orderable: false
                }
            ]
        });
    
      
        window["reload_AlertPageTable"]= function(reponse){
          
            AlertPageTable.ajax.reload(null,false)
        }
       
        setInterval(function(){

            AlertPageTable.ajax.reload(null,false)

        },10*1000)
 
        

    });
    
    </script>