<div class="row">
    <div class="col-md-11">
      <div class="tile">
         <div class="tile-body">
            <table class="table table-hover " id="table">
              <thead>
                <tr >
                  <th>应用名称</th>
                  <th >名称空间</th>
                  <th>创建时间</th>
                  <th>保留最近版本数</th>
                  <th>副本总数/可用副本数</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
           </table>
        </div>
      </div>
    </div>
  </div>




    

   