<div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table class="table table-hover  " id="table">
            <thead>
              <tr>
                <th>用户名</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>地址</th>
                <th>状态</th>
                <th>备注</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>