<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th>项目编号</th>
                            <th>项目名称</th>
                            <th>项目组</th>
                            <th>项目分支</th>
                            <th>CICD自动化</th>
                            <th>项目版本信息</th>
                            <th>发布配置</th>
                            <th>构建记录</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--<div class="toggle lg">
       <label> 
      <input type="checkbox" name="car" value="" checked="hhhhh"><span class="button-indecator">hh</span>
        </label>
  </div>-->
 


    

   