<form data-url="{{ urlfor `GitLabHookController.ReleaseConfigModify` }}" data-callback="reload_GitlabPageTable">
    <input  hidden type=number name="id" value="{{ .gitProject.Id }}"/>
    <div class="form-group row">
        <label class="col-form-label col-2"><strong>Master节点</strong></label>
        <div class="col-9">
            <input class="form-control" type="text" name="releasemachine" value="{{ .gitProject.ReleaseMachine }}" />
            <small class="text-info">Master节点用于构建编译</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-2"><strong>后端发布节点</strong></label>   
        <div class="col-9">
            <textarea class="form-control" name="backendhost" rows=3 >{{ .gitProject.BackendHost }}</textarea>
            <small class="text-info">列出即将要发布的后端节点，多个ip间通过逗号分割</small>
        </div>
    </div>

    

    <div class="form-group row">
        <label class="col-form-label col-2"><strong>项目依赖文件</strong></label>
        <div class="col-9">
            <input class="form-control" name="package_file" value="{{ .gitProject.PackageFile }}" />
            <small class="text-info">列出项目依赖的配置、目录等必要文件名称，不同文件名称用逗号分割，若无可不用填写</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-2"><strong>CICD自动化</strong></label>
        <div class="col-2">
            <select class="form-control" name="auto_deploy"> 
               <option value="0" >禁用</option>
               <option value="1"  {{ if .gitProject.AutoDeploy }}selected="selected"{{ end }}>启用</option>
            </select>
        </div>
    </div>


</form>